# Ignore all 'results' subfolders anywhere in the project
results/
mh_results/

# Ignore all log files
logs/

# Ignore test data folder
test_data_for_breakpoint_pipeline/
test_rearrangement_arc/
batch_scripts/results
__pycache__/

*.ipynb
*.log
*.out
*.err
*.csv
*.html*.pyc
*.png

# Alignment / sequence data
*.bam
*.bai
*.cram
*.crai
*.vcf
*.vcf.gz
*.tbi
*.fa
*.fasta
*.fna
*.fai
